@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-button: #2f6a62;
  --color-foreground: #f8faf9;
  --color-background: #ffffff;
  --color-border: #eaecee;
}
